<section class="home-head-section">
  <div class="home-header">
    <div class="homehead">
      <div class="head-text">
        <p style="color: #9c68fd; font-size: 20px;">The Leader in Online Learning</p>
        <h1 class="headtxt">Engaging & Accessible Online Courses For All</h1>
        <p>
          Elevate your skills and enjoy the journey of learning, where learning meets passion.
        </p>
        <article>
          <div class="head-btn">
            <form>
              <input type="text" placeholder="Treasure your course..." class="inp-custom" />
              <button class="btn-custom">Search</button>
            </form>
          </div>
        </article>
      </div>
      <div class="head-img">
        <img class="headimg" style="width: 80%" src="assets/images/headimg.png" />
      </div>
    </div>
  </div>
</section>
