<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 card-section">
  <div class="col stats-col" #coursesCard id="coursesCard">
    <div class="card card-custom">
      <img src="https://dreamslms.dreamstechnologies.com/html/assets/img/pencil-icon.svg" class="card-img-top img-fluid" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{statsCount.courses}}</h5>
        <p class="card-text">Online Best Courses</p>
      </div>
    </div>
  </div>

  <div class="col stats-col" #instructorsCard id="instructorsCard">
    <div class="card card-custom">
      <img src="https://dreamslms.dreamstechnologies.com/html/assets/img/cources-icon.svg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{statsCount.instructors}}</h5>
        <p class="card-text">Expert Instructors</p>
      </div>
    </div>
  </div>

  <div class="col stats-col" #categoriesCard id="categoriesCard">
    <div class="card card-custom">
      <img src="https://dreamslms.dreamstechnologies.com/html/assets/img/certificate-icon.svg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{statsCount.categories}}</h5>
        <p class="card-text">Total Categories</p>
      </div>
    </div>
  </div>

  <div class="col stats-col" #studentsCard id="studentsCard">
    <div class="card card-custom">
      <img src="https://dreamslms.dreamstechnologies.com/html/assets/img/gratuate-icon.svg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{statsCount.students}}</h5>
        <p class="card-text">Online Students</p>
      </div>
    </div>
  </div>
</div>
