<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 card-section">
    <div class="col stats-col">
      <div class="card card-custom">
        <img src="https://dreamslms.dreamstechnologies.com/html/assets/img/pencil-icon.svg" class="card-img-top img-fluid" alt="..." />
        <div class="card-body">
          <h5 class="card-title">OK</h5>
          <p class="card-text">
          Online Best Courses
        </p>
      </div>
    </div>
  </div>
  <div class="col stats-col">
    <div class="card card-custom">
      <img src="https://dreamslms.dreamstechnologies.com/html/assets/img/cources-icon.svg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">O+</h5>
        <p class="card-text">
          Expert Instructors
        </p>
      </div>
    </div>
  </div>
  <div class="col stats-col">
    <div class="card card-custom">
      <img src="https://dreamslms.dreamstechnologies.com/html/assets/img/certificate-icon.svg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">OK+</h5>
        <p class="card-text">
          Certified Courses
        </p>
      </div>
    </div>
  </div>
  <div class="col stats-col">
    <div class="card card-custom">
      <img src="https://dreamslms.dreamstechnologies.com/html/assets/img/gratuate-icon.svg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">OK +</h5>
        <p class="card-text">
          Online Students 
        </p>
      </div>
    </div>
  </div>
</div>
