<footer class="bg-light text-dark pt-4">
    <div class="container">
      <div class="row">
        <!-- Left Part -->
        <div class="col-md-5 mb-4">
          <div class="footer-logo">
            <img src="assets/images/LMSlogo.png" alt="Website Logo" class="img-fluid mb-2" style="max-width: 150px;">
            <p class="desc-footer">Your website description goes here. A brief sentence that captures what your website is about.</p>
          </div>
          <div class="social-media">
            <h5>Follow Us</h5>
            <a href="https://facebook.com" class="text-dark me-2" aria-label="Facebook">
                <i class="fa-brands icon-footer fa-facebook"></i>
            </a>
            <a href="https://twitter.com" class="text-dark me-2" aria-label="Twitter">
                <i class="fa-brands icon-footer fa-twitter"></i>
            </a>
            <a href="https://instagram.com" class="text-dark" aria-label="Instagram">
                <i class="fa-brands fa-square-instagram icon-footer"></i>
            </a>
          </div>
        </div>
  
        <!-- Center Part -->
        <div class="col-md-3 mb-4">
          <h5 class="text-left">Quick Links</h5>
          <nav>
            <ul class="list-unstyled text-left">
              <li class="list-footer"><i class="fa-sharp-duotone fa-solid fa-angles-right me-2"></i> <a href="/home" class="text-dark anchor-footer">Home</a></li>
              <li class="list-footer"><i class="fa-sharp-duotone fa-solid fa-angles-right me-2"></i> <a href="/courses" class="text-dark anchor-footer">All Courses</a></li>
              <li class="list-footer"><i class="fa-sharp-duotone fa-solid fa-angles-right me-2"></i> <a href="/instructors" class="text-dark anchor-footer">Instructors</a></li>
              <li class="list-footer"><i class="fa-sharp-duotone fa-solid fa-angles-right me-2"></i> <a href="/contact" class="text-dark anchor-footer">Contact Us</a></li>
              <li class="list-footer"><i class="fa-sharp-duotone fa-solid fa-angles-right me-2"></i> <a href="/blogs" class="text-dark anchor-footer">Blogs</a></li>
            </ul>
          </nav>
        </div>
  
        <!-- Right Part -->
        <div class="col-md-4 mb-4">
          <h5>Subscribe to Our Newsletter</h5>
          <form class="d-flex" (submit)="subscribeToNewsletter($event)">
            <input type="email" class="form-control me-2 input-footer" placeholder="Enter your email" aria-label="Email" [(ngModel)]="email" name="email" required>
            <button class="btn-footer" type="submit">Subscribe</button>
          </form>
          <div class="mt-4">
            <p><i class="fa-solid fa-location-dot me-2" style="color: #f86c64;"></i> 1234 Street Name, City, Country</p>
            <p><i class="fa-solid fa-phone me-2" style="color: #f86c64;"></i>&nbsp (123) 456-7890</p>
          </div>
        </div>
      </div>
  
      <div class="text-center mt-4">
        <p>&copy; {{ currentYear }} Your Website Name. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  