.main-style-nav{
    padding: 20px 60px !important;
    background: rgb(255,203,215);
background: linear-gradient(61deg, rgba(255,203,215,1) 10%, rgba(214,255,239,1) 100%);    
font-family: "Kanit", sans-serif;

}

.align-chk{
    display: flex !important;
    align-items: center !important;
    padding: 0px 10px;
}

.nav-link:hover{
    color: #f86c64;
}

.nav-link:active{
    color: #f86c64;
}

@media (max-width: 770px){
    .main-style-nav{
        padding: 20px 20px !important;
    }
}