<div class="container mt-4 trending-chk">
  <h2 class="text-center mb-4">TRENDING COURSES</h2>
  <p style="text-align: center; padding: 0px 20px 15px 20px">
    Discover the most popular courses on our platform. These courses are
    carefully curated to help you build a strong foundation in your chosen
    field. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe
    quidem sunt at, impedit laborum fuga. Quia, error nostrum dignissimos.
  </p>
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4" *ngFor="let course of courses">
      <app-carousel-card [course]="course"></app-carousel-card>
    </div>
  </div>
</div>
