.blog-outer {
  display: flex;
  justify-content: space-between;
  padding: 40px 75px;
  gap: 20px;
  background-color: rgb(247, 247, 247);
  flex-wrap: wrap;  
}
.blog-left {
  flex: 2.7;
}

.blog-right {
  flex: 1;
}

.blog-container {
  max-width: 800px;
  margin: 20px auto;
}

.blog-card {
  width: 100%;
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  height: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.form-blog{
  width: 100%;
}

.blog-card:hover {
  transform: scale(1.02); 
}

.imageblog {
  height: 100%;
  background-color: #f9f9f9;
  border-radius: 4px;
  object-fit: cover; 
}

.blog-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-add-blog{
  padding: 10px 20px;
  background-color: #f86c64;
  color: white;
}

.blog-toolbar h2 {
  color: #f86c64;
}

.mat-card-header {
  background-color: #fff; 
  border-bottom: 1px solid #ddd;
}

.blog-search {
  border-radius: 10px 0px 0px 10px !important;
  background-color: white !important;
  padding: 8px !important;
  width: 70% !important;
  border: 2px solid #f86c64 !important;
}

.search-container {
  margin-bottom: 30px; 
}

.recent-post-card {
  margin-bottom: 16px;
}

.recent-post-card mat-card-title {
  font-weight: bold;
}

.recent-post-card mat-card-subtitle {
  color: #757575;
}

@media (max-width: 1024px) {
  .blog-outer {
    padding: 20px; 
    flex-direction: column;
    align-items: center; 
  }

  .blog-left,
  .blog-right {
    flex: 1 1 100%; 
    margin-bottom: 20px; 
  }

  .blog-container {
    max-width: 100%; 
    margin: 10px 0; 
  }

  .blog-card {
    flex-direction: column; 
    height: auto; 
  }

  .imageblog {
    width: 100%; 
    height: 200px; 
    object-fit: cover;
    margin-bottom: 10px; 
  }

  .blog-search {
    width: 70% !important; 
    border-radius: 10px; 
  }

  .search-container {
    width: 100%; 
    margin-bottom: 20px; 
  }
}

@media (max-width: 768px) {
  .blog-outer {
    padding: 15px; 
  }

  .blog-container {
    max-width: 100%; 
  }

  .blog-card {
    flex-direction: column;
    height: auto; 
  }

  .imageblog {
    width: 100%;
    height: 200px; 
  }

  .blog-left,
  .blog-right {
    margin-bottom: 15px; 
    flex: 1; 
  }

  .search-container {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .blog-outer {
    padding: 10px
  }

  .blog-container {
    margin: 10px 0;
  }

  .blog-card {
    flex-direction: column; 
    height: auto;
  }

  .imageblog {
    width: 100%; 
    height: 180px;
  }

  .search-container {
    width: 100%; 
    margin-bottom: 15px;
  }

  .blog-search {
    width: 100% !important; 
    border-radius: 10px;
  }
}
