.set-outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    width: 90%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin: 40px 0px;
}

.btn-primary-set{
    background-color: #f86c64;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn-primary-set:hover{
    background-color: #ff544b;
}