<section class="contact-container">
  <div class="row">
    <!-- Details Section -->
    <div class="col-md-6">
      <div class="contact-detail">
        <h1>Feel free to contact</h1>
        <p>If you have any questions, we're here to help and ensure you have the best experience possible</p>
        <div class="contact-info">
          <p><i style="color: #f86c64;" class="fa-solid fa-phone-volume"></i>&nbsp;&nbsp; +123 456 7890</p>
          <p><i style="color: #f86c64;" class="fa-solid fa-envelope"></i>&nbsp;&nbsp; contact.us@eduHub.com</p>
          <p><i style="color: #f86c64;" class="fa-solid fa-location-dot"></i>&nbsp;&nbsp; Impelsys, IWF Campus, Mahadevapura, Bengaluru, Karnataka</p>
        </div>
        <div class="map-class">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.60013563019!2d77.68607057428443!3d12.99740788732032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae16837f54dbc9%3A0xbed84d37fcf010ca!2sImpelsys!5e0!3m2!1sen!2sin!4v1730611125473!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>

    <!-- Form Section -->
    <div class="col-md-6 formmm">
      <div class="container form-container contact-form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form">
          <h5 class="form-title">Leave Us a Message</h5>
          
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required />
            <mat-error *ngIf="contactForm.get('name')?.hasError('invalidName') ||  contactForm.get('name')?.invalid && (contactForm.get('name')?.dirty || contactForm.get('name')?.touched)">
              <small>Name is required, can't be number</small>
            </mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required email />
            <mat-error *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)">
              <small>Valid email is required.</small>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Subject</mat-label>
            <input matInput formControlName="subject" required />
            <mat-error *ngIf="contactForm.get('subject')?.invalid && (contactForm.get('subject')?.dirty || contactForm.get('subject')?.touched)">
              <small>Enter subject.</small>
            </mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Your Message</mat-label>
            <textarea matInput formControlName="message" required></textarea>
            <mat-error *ngIf="contactForm.get('message')?.invalid && (contactForm.get('message')?.dirty || contactForm.get('message')?.touched)">
              <small>Message is required.</small>
            </mat-error>
          </mat-form-field>
          
          <button class="contact-btn" mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
