/* whats-new.component.css */
.outer-home-master{

    background: rgb(255,203,215);
    background: linear-gradient(61deg, rgba(255,203,215,1) 10%, rgba(214,255,239,1) 100%);        

}

.container {
    width: 100% !important;
    padding: 80px 0px !important;
}
  
  .badge {
    font-size: 1rem;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  p {
    font-size: 1rem;
    color: #555;
  }

  @media (max-width: 620px){
    .outer-home-master{
      padding: 20px !important;
      text-align: center;
    }
  }
  