<div class="card h-100 card-trend">
  <!-- <div> -->
  <img
    [src]="course.img"
    class="img-trending-cr"
    alt="{{ course.name }}"
  />
  <!-- <div class="cour-pricee"><span></span></div> -->
<!-- </div> -->
  <div class="card-body carddd">
    <div class="instructor-home-outer">
      <div style="display: flex; gap: 20px">
        <img
          [src]="instructorData.image"
          class="instructor-home-img"
          alt="{{ instructorData.name }}"
          style="width: 55px; height: 55px; border-radius: 50px"
        />
        <div
          class="inst-desc"
          style="
            display: flex;
            flex-direction: column;
            justify-content: start;
          "
        >
          <p class="inst-name" style="margin-bottom: 2px">
            {{ instructorData.name }}
          </p>
          <p class="inst-title" style="font-size: 15px">Instructor</p>
        </div>
      </div>
      <span><i class="fa-regular fa-heart" style="color: #f86c64"></i></span>
    </div>

    <div style="padding: 0px 10px 10px 10px">
      <h4 class="card-title">{{ course.name }}</h4>
      <div class="data-course">
        <p style="margin: 0">
          <i class="fa-solid fa-book-open-reader" style="color: #f86c64"></i>
          {{ course.category }}
        </p>
        <p style="margin: 0">
          <i class="fa-solid fa-clock" style="color: #f86c64"></i>
          {{ course.duration }} weeks
        </p>
      </div>
    </div>
  </div>
  <div
    class="card-footer"
    style="
      display: flex;
      justify-content: space-between;
      align-items: center;
    "
  >
    <div class="reviews-wrapper">
      <p style="margin: 0">
        <i class="fa-solid fa-star" style="color: #f86c64"></i>
        {{calculateAverageRating(course.reviews)}} Rating
      </p>
    </div>

    <!-- Conditionally render "Enroll Now" or "Open" based on if the user has purchased the course -->
    <div *ngIf="currentUser">
    <button *ngIf=" currentUser.role === 'User' && subsChk != 'Premium'" class="classic-btn-new" (click)="onCourseButtonClick()">
      {{ hasPurchased(course.course_id) ? 'Open' : 'Enroll Now' }}
    </button>

    <button *ngIf="currentUser.role === 'User' && subsChk === 'Premium'" class="classic-btn-new" (click)="onCourseButtonClick()">
      Open
    </button>

    <button class="classic-btn-new" *ngIf="currentUser.role === 'Instructor' || currentUser.role == 'Admin'" (click)="onCourseButtonClick()">
      View
    </button>
  </div>
  <div *ngIf="!currentUser">
    <button class="classic-btn-new" (click)="onCourseButtonClick()">
      Enroll Now
    </button>
  </div>
  </div>
</div>
