<div class="brand-outer">
    <h3>TRUSTED BY</h3>
    <section class="section-brand">
        <article>
          <div>
            <ul>
              <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" /></li>
              <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" /></li>
              <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" /></li>
              <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" /></li>
            </ul>
          </div>
          <div>
            <ul>
              <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" /></li>
              <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" /></li>
              <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" /></li>
              <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" /></li>
            </ul>
          </div>
        </article>
      </section>

</div>"