<div class="all-courses-head">
  <h1 class="all-cour-heading">ALL COURSES</h1>
  <p class="para-cour">
    Explore our wide range of courses designed to help you learn and grow in
    your chosen field, offering valuable skills and knowledge tailored to your
    goals. Join us to enhance your expertise and connect with industry
    professionals on your journey to success!
  </p>
  <a class="button-cour classic-btn-new" (click)="scrollToCourses()">Start Exploring</a>
</div>

<div class="container-cour" id="container-cour">
  <div class="filters" style="width: 100%; display: flex; justify-content: center; padding-bottom: 30px;">
    <!-- Search Courses -->
    <input
      class="input-cour"
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterCourses()"
      placeholder="Search courses..."
    />
    
    <!-- Category Filter -->
    <select
      class="select-cour"
      [(ngModel)]="selectedCategory"
      (change)="filterCourses()"
    >
      <option value="">All Categories</option>
      <option value="Computer Science">Computer Science</option>
      <option value="Web Development">Web Development</option>
      <option value="Data Science">Data Science</option>
      <option value="Marketing">Marketing</option>
      <option value="Design">Design</option>
      <option value="Mobile Development">Mobile Development</option>
      <option value="Cybersecurity">Cybersecurity</option>
      <option value="Game Development">Game Development</option>
      <option value="Business">Business</option>
      <option value="Blockchain">Blockchain</option>
      <option value="Cloud Computing">Cloud Computing</option>
      <option value="Programming">Programming</option>
    </select>
  
    <!-- Teacher Name Filter -->
    <input
      class="input-cour"
      type="text"
      [(ngModel)]="teacherName"
      (input)="filterCourses()"
      placeholder="Filter by teacher name..."
    />
  </div>
  

  <div class="row">
    <div
      *ngFor="let course of pagedCourses"
      class="col-md-4 col-lg-4 col-sm-6 mb-4"
    >
      <app-carousel-card [course]="course"></app-carousel-card>
    </div>
  </div>

  <div class="pagination" style="text-align: center; margin-top: 20px;">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  
    <ng-container *ngIf="totalPages > 1">
      <button
        *ngFor="let page of pageNumbers()"
        (click)="goToPage(page)"
        [class.active]="currentPage === page"
      >
        {{ page }}
      </button>
    </ng-container>
  
    <button (click)="nextPage()" [disabled]="currentPage === getTotalPages()">Next</button>
  </div>
  
</div>
