<div class="testi-outer">
    <div class="container">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="carousel-caption">
                  <p>EduHub has transformed our training process. It’s user-friendly, efficient, and makes tracking employee progress a breeze. Our team has been able to access training materials anytime, anywhere, leading to improved performance and overall satisfaction!
                  </p>
                  <img src="https://i.imgur.com/lE89Aey.jpg">
                  <div id="image-caption">Nick Doe</div>
                </div>   
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  <p>As a teacher, I’ve found EduHub to be an invaluable tool. It allows me to create engaging courses, easily communicate with my students, and monitor their progress. The interactive features have made learning more dynamic and enjoyable for everyone involved!</p>
                    <img src="https://i.imgur.com/QptVdsp.jpg" class="img-fluid">
                    <div id="image-caption">Cromption Greves</div>
                </div>   
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  <p>It’s easy to navigate and allows us to scale training efforts without losing quality. The analytics and reporting tools have been crucial in identifying skill gaps and tailoring our programs to meet specific needs.</p>
                    <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid">
                    <div id="image-caption">Harry Mon</div>
                </div>   
              </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <i class='fas fa-arrow-left'></i>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <i class='fas fa-arrow-right'></i>
            </a>
          </div>
          
    </div>
</div>